{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Register
        </div>
        <div class="card-body">
            {% if msg %}
            <div class="alert alert-danger" role="alert">
                {{msg}}
                </div>
            {% endif %}
            <form method="POST" action="/auth/register">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Username</label>
                        <input type="username" class="form-control" name="username">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Rola</label>
                        <input type="text" class="form-control" name="role">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>E-mail</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Aktywne</label>
                        <input type="checkbox" class="form-control" name="isactive">
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control"
                           name="password" required>
                </div>

                <div class="form-group">
                    <label>Verify Password</label>
                    <input type="password" class="form-control"
                           name="password2" required>
                </div>


                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
        <div class="card-footer text-muted">
            <a href="/auth"> Already have an account? </a>
        </div>
    </div>
</div>


